* {
    align-content: center
  }

  /* Default styles for light theme */
body {
    background-color: #ffffff;
    color: #000000;
}

  /* Styles for dark theme */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #000000;
      color: #ffffff;
    }
}