/* get fira code font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* define color variables */
:root {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;
    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
}

/* set default font */
body {
    font-family: 'Fira Code', monospace;
    background-color: var(--color-base);
    color: var(--color-text);
}

/* color for links */
a {
    color: var(--color-mauve);
    text-decoration: none;
    font-style: italic;
}

/* --- header --- */
/* i fucking hate css like who the fuck woke up one day and was like "yeah im going to make this shit styling language" */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-crust);
    border-bottom: 1px solid var(--color-mantle);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    width: 45rem;
    margin: 0 auto;
}

/* image-container class */
header .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* h1 */
header h1 {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--color-text);
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    /* gradient animation of blue and pink */
    background: linear-gradient(
        90deg,
        var(--color-blue),
        var(--color-pink),
        var(--color-blue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
}


/* --- details --- */
.details {
    margin: 0 auto;
    width: 50rem;
    padding: 1rem 2rem;
    background-color: var(--color-crust);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

/* --- wip --- */
.wip {
    margin: 0 auto;
    width: 50rem;
    padding: 1rem 2rem;
    background-color: var(--color-crust);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.wip h1 {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--color-text);
    -webkit-text-stroke: 2px var(--color-yellow);
    /* hazard tape background */
    background: repeating-linear-gradient(
        45deg,
        var(--color-yellow),
        var(--color-yellow) 10px,
        var(--color-base) 10px,
        var(--color-base) 20px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% auto;
    text-align: center;
    /* animation for background */
    animation: move 50s linear infinite;
}

/* animation for background */
@keyframes move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* --- footer --- */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-crust);
    border-top: 1px solid var(--color-mantle);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 0 auto;
    /* move footer to bottom middle of page */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
