<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel='icon' href='{{ site.baseurl }}/assets/img/popcorn.png' type='image/x-icon'>
    <meta name='description' content='The website for the popcorn project'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Global intent stylesheets or scripts go here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
<body class="container">

<!-- Here's the header, this will appear at the top of the page. -->
<header class="panel-tight" style="">
    <nav class="navbar" style=" padding: 0">
        <div class="navbar-brand text-center" style="padding: 0; padding-bottom: 8px"> <!-- Center the content within the brand div -->
            <a class="mx-auto text-center" href="{{ site.baseurl }}/"> <!-- Center the content horizontally -->
                <img src="{{ site.baseurl }}/assets/img/popcorn.png" style="width: 65px"
                     alt="the rust logo with the r replaced with a p, and the trans flag overlayed on it" class="img-fluid"/>
               <!-- <h5 class="gradient-text">the popcorn kernel</h5> -->
            </a>
        </div>
        <div class="nav-item">
            <a class="btn btn-nav" href="{{ site.baseurl }}/contributors.html" >Contributors</a>
            <a class="btn btn-nav" href="{{ site.baseurl }}/social.html" >Social</a>
        </div>
    </nav>
</header>


{{ content }}

<footer class="footer">
    <!-- Put your footer stuff here. -->
    <div class="panel">
        <h5>This website steals no cookies, you can keep them for yourself!</h5>
        <small>the popcorn kernel is licensed under the MIT license, see <a href="https://github.com/popcorn-kernel/popcorn-kernel.github.io/blob/main/LICENSE">here</a> for more details.</small>
    </div>
</footer>
</body>
</html>