<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel='icon' class="popcorn-icon" href='{{ site.baseurl }}/assets/img/popcorn-white.svg' type='image/x-icon'>
    <meta name='description' content='The website for the popcorn project'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Global intent stylesheets or scripts go here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/catppuccin_mocha.css">


    <style>
        :root
        {
            --color-tint: #FFFFFF
        }
    </style>


    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body class="container">

<!-- Here's the header, this will appear at the top of the page. -->
<header class="panel-tight" style="">
    <nav class="navbar" style=" padding: 0">
        <div class="navbar-brand text-center" style="padding: 0; padding-bottom: 8px"> <!-- Center the content within the brand div -->
            <a class="mx-auto text-center" href="{{ site.baseurl }}/"> <!-- Center the content horizontally -->
                <img class="popcorn-icon" src="{{ site.baseurl }}/assets/img/popcorn-white.svg" style="width: 65px"
                     alt="The popcorn kernel" class="img-fluid"/>
               <!-- <h5 class="gradient-text">the popcorn kernel</h5> -->
            </a>
        </div>
        <div class="nav-item">
            <a class="btn btn-nav" href="{{ site.baseurl }}/contributors.html" >Contributors</a>
            <a class="btn btn-nav" href="{{ site.baseurl }}/social.html" >Social</a>
        </div>
    </nav>
</header>


{{ content }}

</body>
<!-- We need to access site.baseurl to access assets. We can't do this from .js. -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current date
        var currentDate = new Date();

        // Get the current month (zero-based index)
        var currentMonth = currentDate.getMonth();
        // Check if it is Pride Month
     //   if (currentMonth === 5) {
            const iconElements = document.querySelectorAll('.popcorn-icon');
            iconElements.forEach(element => {
                element.setAttribute("src", "{{ site.baseurl }}/assets/img/popcorn-pride.svg");
            });
     //   }
    });
</script>
</html>